<!DOCTYPE html>
<head>
    <h1>Employee Management System</h1><br />
    <a href="logout">Logout</a><br />
</head>
<body>
    
        <a href="/show">Show Employee Details</a><br />
        <a href="/index">Add new Employee record</a><br />
        <a href="searchy">Search Employee</a><br />
        <a href="add">Add Department</a><br/>
        <a href="dept">Show Departments</a><br/>
        <a href="edit_dept">Edit_dept</a><br />
        <a href="show_all">Show all details</a><br />
        <a href="dep_csv">download department details</a>
</body>
</html>