<!DOCTYPE html>  
<html lang="en"> 
    <style>
        td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    border-collapse: collapse;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}
    </style> 
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
</head>  
<body>  
<table align="center" class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th> 
        <th>Employee Dept</th>
        <th>Action1</th>  
        <th>Action2</th>
    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %}  
    <tr>  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>
        <td>{{employee.edept}}</td>
        <td>  
            <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a> 
        </td>
        <td>
            <a href="/delete/{{ employee.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/index" class="btn btn-primary">Add New Record</a></center>  
<center><a href="/main">back_to_main</a></center>
</body>  
</html>  